<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat Application</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="css/chat.css" rel="stylesheet" />
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <div class="container">
        <div class="row clearfix">
            <div class="col-lg-12">
                <div class="card chat-app">
                    <div id="plist" class="people-list">
                        <div class="input-group">
                            <div class="input-group-prepend">
                            </div>
                        </div>
                        <ul class="list-unstyled chat-list mt-2 mb-0" id="grps">
                           <!-- <li class="clearfix">
                                <div class="about">
                                    <div class="name">Vincent Porter</div>
                                </div>
                            </li> -->
                        </ul>
                    </div>
                    <div class="chat">
                        <div class="chat-header clearfix">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="chat-about">
                                        <h5 class="m-b-0" id="grp">Group</h5>
                                    </div>
                                </div>
                                <div class="col-lg-6 hidden-sm text-right">
                                    <button class="btn chat-options-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Options
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="optionsDropdown">
                                        <a class="dropdown-item" href="#">Group Members</a>
                                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#myModal">Create Group</a>
                                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#addModal">Add to Group</a>
                                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#deleteModal">Delete from Group</a>
                                        <a class="dropdown-item" href="#"  data-toggle="modal" data-target="#addAdmin">Add Admin</a>
                                        <a class="dropdown-item" href="#"  data-toggle="modal" data-target="#removeAdmin">Remove Admin</a>
                                        <a class="dropdown-item" href="#" id="logout">Logout</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="chat-history " id="chat-messages">
                            <ul class="m-b-0" id="messageContainer">
                            <!--  <li class="clearfix">
                                   <div class="message-data text-right">
                                 <span class="message-data-time">10:10 AM, Today</span>
                                    </div>
                                    <div class="message other-message float-right"> Hi Aiden, how are you? How is the project coming along? </div>
                                </li>
                                <li class="clearfix">
                                    <div class="message-data">
                                        <span class="message-data-time">10:12 AM, Today</span>
                                    </div>
                                    <div class="message my-message">Are we meeting today?</div>                                    
                                </li>                               
                                <li class="clearfix">
                                    <div class="message-data">
                                        <span class="message-data-time">10:15 AM, Today</span>
                                    </div>
                                    <div class="message my-message">Project has been already finished and I have results to show you.</div>
                                </li>--> 
                            </ul>
                    </div>
                        <div class="chat-message clearfix">
                            <div class="input-group mb-0">
                                <div class="input-group-prepend" id="sendButton">
                                    <span class="input-group-text"><i class="fa fa-send"></i></span>
                                </div>
                                <input type="text" class="form-control" id="messageInput" placeholder="Enter text here...">                                    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div class="modal fade" id="addModal">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">Add Members To The Group</h4>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                  <div class="form-group">
                    <label for="inputField">Group Name:</label>
                    <input type="text" class="form-control" id="inputField">
                    <label for="inputField">Member Name:</label>
                    <input type="text" class="form-control" id="nameField">
                  </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary" id="add">Add</button>
                </div>
              </div>
            </div>
        </div>
        </div>
        <div class="modal fade" id="myModal">
            <div class="modal-dialog">
              <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                  <h4 class="modal-title">Create a new Group</h4>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                  <!-- Input field -->
                  <div class="form-group">
                    <label for="inputField">Group Name</label>
                    <input type="text" class="form-control" id="inputField">
                  </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary" id="Name">Submit</button>
                </div>
              </div>
            </div>
          </div>
      </div>
      <div class="modal fade" id="deleteModal">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Delete Members To The Group</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <label for="inputField">Group Name:</label>
                <input type="text" class="form-control" id="inputsField">
                <label for="inputField">Member Name:</label>
                <input type="text" class="form-control" id="namesField">
              </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary" id="delete">Delete</button>
            </div>
          </div>
        </div>
    </div>
    </div>
    <div class="modal fade" id="addAdmin">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Add Admin</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <label for="inputField">Group Name:</label>
                <input type="text" class="form-control" id="inputField">
                <label for="inputField">Member Name:</label>
                <input type="text" class="form-control" id="nameField">
              </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary" id="add">Add</button>
            </div>
          </div>
        </div>
    </div>
    </div>
    <div class="modal fade" id="removeAdmin">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Remove Admin</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <label for="inputField">Group Name:</label>
                <input type="text" class="form-control" id="inputField">
                <label for="inputField">Admin Name:</label>
                <input type="text" class="form-control" id="nameField">
              </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary" id="add">Submit</button>
            </div>
          </div>
        </div>
    </div>
    </div>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script src="js/chat.js"></script>
    </div>
</body>
</html>










